﻿@model JobEntity.ViewModel.JobViewModel
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center;">Jobs</h2>


<nav class="navbar navbar-default">

    <ul class="nav navbar-nav">
        <li class="active"><a onclick=" ModalAgregar()"><i class="fas fa-plus"></i> Job</a></li>
    </ul>
</nav>

<div class="card">
    <div class="card-body">
        <div id="gridJobs">
            @Html.Partial("~/Views/Job/Partials/_jobGrid.cshtml", Model.listJob)
        </div>
    </div>
</div>

@Html.Partial("~/Views/Job/Partials/_addJobModal.cshtml", Model.job)
@Html.Partial("~/Views/Job/Partials/_editJobModal.cshtml", Model.job)

@section Scripts {
    @Html.Partial("~/Views/Job/Partials/_Script.cshtml", Model)
}
