﻿@model JobEntity.ViewModel.JobViewModel

<div class="modal fade" id="editmodal" role="dialog" >
    <div class="modal-dialog" style="width:350px; margin: 0 auto; display:block;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Job</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row" id="divlab">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.job.Job, labelText: "Job ", htmlAttributes: new { @class = "control-label col-md-auto" })
                        @Html.EditorFor(model => model.job.Job, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.job.Job, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row" id="divlab">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.job.JobTitle, labelText: "Title ", htmlAttributes: new { @class = "control-label col-md-auto" })
                        @Html.EditorFor(model => model.job.JobTitle, new { htmlAttributes = new { @class = "form-control", id = "jTitle" } })
                        @Html.ValidationMessageFor(model => model.job.JobTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.job.JobDescription, labelText: "Description ", htmlAttributes: new { @class = "control-label col-md-auto" })
                        @Html.EditorFor(model => model.job.JobDescription, new { htmlAttributes = new { @class = "form-control", id = "jDescription" } })
                        @Html.ValidationMessageFor(model => model.job.JobDescription, "", new { @class = "text-danger" })
                    </div>

                </div>
             
                <div class="form-group row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.job.ExpiresAt, labelText: "Expires At ", htmlAttributes: new { @class = "control-label col-md-auto" })
                        <input type="date" id="expEdit" name="expEdit">
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="EditJob()" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
