﻿@model IEnumerable<JobEntity.Models.JobModel>


<table class="table table-bordered table-udb table-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                Job
            </th>
            <th>
              Title
            </th>
            <th>
               Description
            </th>
            <th>
               Created At
            </th>
            <th>
              Expires At
            </th>
          

            @if (Model.Count() > 0)
            {
                <th>Opciones</th>
            }
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiresAt)
                    </td>
                    <td style="width:155px;">
                        <a class="btn btn-info" data-toggle="tooltip" title="Editar" onclick="SearchJob(@item.Job)">
                            <i class="far fa-edit"></i>
                        </a>

                        <a class="btn btn-danger" href="" data-toggle="tooltip" title="Eliminar" onclick=" DeleteJob(@item.Job)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    }

</table>



